@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-transition-duration: 0;
            transition-duration: 0;
    
}

p, a, li, input, textarea, div, span, h1, h2, h3, h4, h5, h6, table{
    font-family: Raleway, Helvetica, sans-serif;
    -webkit-font-smoothing: anrialised;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}


header{
    background-color: transparent;
    display: flex;
    align-items: center;
    min-width: 100%;
    overflow: hidden;
    height: 65px;
}


.flexbox {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
   
}


.title h1 {
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color:  #00a86a;
    line-height: 56px;
    text-transform: uppercase;
}

nav {
    text-align: right;
    height: 56px;

}

nav ul{
  
    list-style: none;
    font-size: 0;

}

nav ul li {
  
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    cursor: pointer;
    font-size: 17px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}

.title a h1:hover {
    color: #ffff;
}

a {
    text-decoration: none;
}

nav ul li:last-child a{

    padding: 12px 20px;
    background-color: #00a86ab0;
    border-radius: 8px;
}



nav ul li + li {
    margin-left: 30px;
}

.hero-banner {
   
    color: white;
    height: 100vh;
    background: black url("back.jpg") center center / cover no-repeat;
  
}

.banner-center{
    
    height: calc(100vh - 120px - 50px);
    width: 600px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
}


.tint {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 555;
}
.overlay {
    
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 555;
}


/*----------------------------------*/ 
/* hero banner               End            */ 
/*----------------------------------*/ 

.banner-footer {
    width: 100%;
    text-align: center;
    height: 120px;
}
.banner-footer ul{
    list-style: none;
    font-size: 0;

}

.banner-footer ul li {
 
    color: white;
    display: inline;
    line-height: 120px;
    cursor: default;
}

  

.banner-footer ul li a {
    
   
    text-decoration: none;
   
    text-transform: none;
    cursor: pointer;
}


.banner-footer ul li a:hover {
    text-decoration: underline;
}

.banner-footer ul li + li {
    margin-left: 25px;
}
.banner-footer ul li a i {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.button {
    transition: ease-in-out .25s;
    width: 100px;
    margin: 0 auto;
    text-decoration: none;
    border: 4px solid #ffff;
    background-color: #c4a500; 
    color: #ffff;
    padding: 12px 34px; 
    border-radius: 64px;
    cursor: pointer;
}

.button:hover {
    border-color: #c4a500;
    background-color:  #ffff;
    color:  #c4a500;
}

.bounce {
        
    width: 100px;
    margin: 0 auto;
    display: block;
    animation: bounce 2.5s ease-in-out infinite .25s;

}

@keyframes bounce {

    0%, 50%, 100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-15px);
    }
    75% {
        transform: translateY(-15px);
    }

}

#full {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: -56px;

}

#center {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center div {
    width: 600px;
    height: 50px;
    text-align: center;
    
}
#center div h2 {
    
    font-weight: 300;
    margin: 10px 0;
    font-size: 60px;
}
#center div p {
    font-size: 20px;
}
#bottom {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#aboutMe {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 300px;
    text-align: center;
}
#aboutMe h2{
    font-size: 40px;
}

#aboutMe p{
    margin-top: 40px;
    text-align: left;
    font-size: 18px;
}
footer{
 
    min-width: 100%;
    background-color: lightgrey;
    overflow: hidden;

}

footer div {
    display: flex;
    justify-content: space-between;
}

.title-f{
    margin: 0px;
    line-height: 100px;
    margin-right: 25px;
}
.title-f p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 88px;
    text-transform: uppercase;
}

.navfoot {
    text-align: left;
    height: 88px;
}

.navfoot ul{
    list-style: none;
    font-size: 0;

}

.navfoot ul li{
    display: inline;
    line-height: 110px;
    cursor: default;
}

.navfoot ul li a {
 
    
    text-decoration: none;
   
    text-transform: none;
    cursor: pointer;
}

.navfoot ul:first-child {
   margin-left: 25px;
}

.navfoot ul li a:hover {
    text-decoration: underline;
}

.navfoot ul li + li {
    margin-left: 25px;
}
.navfoot ul li a i {
    font-size: 25px;
    color: #000000;
    cursor: pointer;
}
